#todo-app {
  padding-top: 60px;
  max-width: 60%;
}
#texttt {
  text-align: center;
  color: white;
}
.addbtn {
  margin-left: 50px;
}
.ptxt {
  padding-left: 10px;
}
#list-task li {
  display: flex;
  align-items: center;
  background-color: #e9e8e8;
}

#list-task li label {
  flex: 1;
}
.ptxt {
  word-wrap: break-word;
  width: 100px;
  padding: 1px 10px 1px;
}
body {
  background-color: #20262e;
}
.input-button {
  color: white;
}
.input-group {
  padding-top: 20px;
}
